.parent {
  display: flex;
  flex-direction: column;
}

// .project_inform {
//   background-color: antiquewhite;
// }

// .menu_tab {
//   height: fit-content;
// }

.main {
  background-color: cadetblue;
}
